<?xml version='1.0' encoding='UTF-8' ?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<composite:interface>
	<composite:attribute name="_label" required="false"/>
	<composite:attribute name="_value" required="false"/>
</composite:interface>

<composite:implementation>
	<h:outputLabel value="#{cc.attrs._label}" for="input" id="label"/>
	<h:inputText id="input" value="#{cc.attrs._value}"/>
</composite:implementation>

</html>

