<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:inkcode="http://java.sun.com/jsf/composite/inkcode">
<h:head>

</h:head>
<h:body>
	<h:messages />
	<h:form id="loginForm">
		<inkcode:edit _label="Username: " id="username" _value="#{credentials.username}"/>
		<br />
		<inkcode:edit _label="Password: " id="password" _value="#{credentials.password}"/>
		<h:commandButton id="login" value="Log in"
			action="#{loginController.login}" />
	</h:form>
</h:body>
</html>